/* Common */

#fixed-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 42;
}

#fixed-top #logo {
    font-family: 'Lora-Bold';
    font-size: max(2vw, 20px);
}

#fixed-top #button-wrap {
    display: flex;
    justify-content: right;
    align-items: center;
}

#fixed-top #button-wrap #my-profile-button {
    background-image: url(../../public/img/my-profile-button.svg);
}

#fixed-top #button-wrap #admin-button {
    background-image: url(../../public/img/admin-button.svg);
}


/* Mobile */

#mobile #fixed-top {
    padding: 5px 10px 5px 10px;
}

#mobile #fixed-top #button-wrap {
    width: 50%;
}

#mobile #fixed-top #button-wrap #new-post-button span {
    display: none;
}

#mobile #fixed-top #button-wrap #new-post-button {
    background-image: url(../../public/img/new-post-button.svg);
}

#mobile #fixed-top #button-wrap > button {
    width: clamp(20px, 7%, 25px);
    height: 0;
    padding: 0;
    padding-bottom: clamp(20px, 7%, 25px);
    margin-left: 10px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: 0;
}


/* Desktop */

#desktop #fixed-top {
    padding: 7.5px 15px 7.5px 15px;
}

#desktop #fixed-top #button-wrap {
    width: 30%;
}

#desktop #fixed-top #button-wrap #new-post-button {
    width: 40%;
    height: 0;
    padding: 0;
    padding-bottom: clamp(25px, 10%, 35px);
    background-color: #383838;
    color: white;
    border: 0;
    border-radius: 30px;
    position: relative;
}

#desktop #fixed-top #button-wrap #new-post-button span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lora-Regular';
    font-size: 1.5vw;
}

#desktop #fixed-top #button-wrap .img-button {
    width: clamp(25px, 10%, 35px);
    height: 0;
    padding: 0;
    padding-bottom: clamp(25px, 10%, 35px);
    margin-left: 10px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: 0;
}
