#info-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-box span {
    font-family: 'kbiz-Medium';
    text-align: center;
}

.expire-date, #allow-user, #goal-set, .anony, .multiple {
    margin-bottom: 10px;
}

#goal-set > input {
    margin-left: 10px;
}

.doc-expire {
    margin-bottom: 20px;
}

.expire-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calander {
    text-align: center;
}

.MuiFormControl-root {
    margin: 0 10px 10px 0 !important;
}

#info-box .MuiSvgIcon-root {
    margin: 0;
}

.title-tooltip {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
}

.title-tooltip > span {
    margin-right: 5px;
}

#allow-user {
    display: flex;
}

.switch-button {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.switch-button button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.switch-button button:disabled {
    cursor: not-allowed;
}