:root {
  --font-size-base: 16px; /* Set the base font size */
}

/* Convert px to rem using the formula: rem = px / base font size */

.login-container {
  height: 100vh;
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  font-family: 'Roboto-Mono-B';
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
}

.logo img {
  margin-right: 0.625rem; /* 10px / 16px = 0.625rem */
}

.oauth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.oauth-btn {
  font-family: 'Roboto-Mono-M';
  background-color: #fff;
  color: #000;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  padding: 0.625rem 1.25rem; /* 10px / 16px = 0.625rem, 20px / 16px = 1.25rem */
  border: 0.1875rem solid #000; /* 3px / 16px = 0.1875rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.oauth-btn:hover {
  color: #fff;
  background-color: #000;
}

.oauth-btn:disabled {
  background-color: #000;
  color: #fff;
}